* {
    box-sizing: border-box;
    
    
}

body {font-family: Verdana, sans-serif;}

/*pozadi foto automatic */

    .mySlides {
        display: none;
        margin: -7px;               
    }


    .tablet
    {
        display: none;
        margin: -7px;
    }

    img 
    {
        vertical-align: middle;
        

    }
    #nadpis{
        color: #f2f2f2;
        font-size: 1.5rem;
        padding: 8px 12px;
        position: absolute;
        text-align: center;
        bottom: 90%;
    }

    h2
    {
        font-size: 1rem;
    }

    .podnadpis
    {
        color: #f2f2f2;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 400px;
        border: 2px solid black;
        background-color: black;
        opacity: 80%;
        margin-left: -7px;        
    }
    .konec
    {
        font-size: 2rem;
        font-weight: bold
    }
    .fade {
    animation-name: fade;
    animation-duration: 3s;
    }

    .text{
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 270px;
        width: 100%;
        text-align: center;
    }

    .text2{
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 280px;
        width: 100%;
        text-align: center;
    }

    .text3
    {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        top: 380px;
        width: 100%;
        text-align: center;
    }

    @keyframes fade {
    from {
        opacity: .4;
        background-position: 100%;
    } 
    to {
        opacity: 1;
        background-position: 100%;
    }

    }

/* zahlavi */


    .area
    {
        font-size: 0.7rem;
        padding-bottom: 5px;
        width: 100%;
        font-weight: bold;
    }

    .holy-grail-flexbox
    {
        display: flex;
        flex-wrap: wrap;
    }
    
    .zahlavi
    {
        width: 60%;
    }

    .zahlavi2
    {
        width: 40%;
        text-align: right;
    }

    a
    {
        text-decoration: none;
        color: white;
    }
    
    a:hover
    {
        text-decoration: underline;
    }



    span
    {
        color: white;
    }

/*navigace*/

.toggleMenu
{
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 0;
    position: fixed;
    top: 100px;
    z-index: 1000;
      
    
}
#toggleMenu
{
    width:25px;
    height: 4px;
    background-color: black;
    margin: 6px 0px;
    
}

.menu {
    position: fixed;
    top: 0;
    left: -24.2%; 
    width: 150px; 
    background-color: black;
    opacity: 90%;
    transition: left 0.3s ease; 
    z-index: 1000;  
}
.home
{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.other
{
    margin-bottom: 2%;
    
}
.menu.active {
   right: -10%;
   width: 100%;
   margin-top: 0px;
   text-align: center;
}


.menu-item {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

    #nadpis
    {
        font-size: 1.5rem;
        width: 80%;
        right: 9%;
    }

    .podnadpis
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .area2
    {
        width: 100%;
    }

    .bowling, .ubytovani
    {
        width: 50%;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cenik, .kontakt
    {
        width: 50%;
    }
    

body
{
    background-color: lightskyblue;
    color: white;
}

    /*ostatni stranky*/

    .home2
    {
        position: relative;
        bottom: 10%;
    }
   
    .podnadpis2
    {
        padding-top: 10px;
        color: #f2f2f2;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        border: 2px solid black;
        background-color: black;
        opacity: 80%;
        margin-left: -7px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    #nadpis2
    {
        top: 0%;
        right: 19%;
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
    }
    

/*text hl.*/

.all
{
    color: white;
    position: absolute;
    top: 630px;
    text-align: center;
    left: 0;
    width: 100%;

    
}
.all2
{
    background-color: black;
    border: 5px solid white;
    padding: 10px 5px;
    border-radius: 20px;
    margin-top: 10px;
}

.rezervace
{
    position: absolute;
    margin-bottom: 9px;
    margin-top: 28px;
}
.wifi
{
    position: absolute;
    right: 0;
    left: 0;
    top: 280px;
}

.parkovani
{
    position: absolute;
    top: 400%;
    width: 100%;
}

/*FOOTHER*/

footer
{
    background-color: black;
    color: white;
    opacity: 70%;
    padding: 7% 7%;
    
}
.full3
{
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 155%;
}
.full2
{
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 200%;
}
.full
{
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 155%;
}

.adresa
{
    width: 27%;
    text-align: left;
}

.other3
{
    width: 73%;
    text-align: left;
}
.open
{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
}
.area4
{

    width: 100%;
}

.dny
{
    width: 20%;
    text-align: right;
}

.cas
{
    width: 80%;

}

.mobil 
{
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.email
{
    width: 100%;
    text-align: left;
}

.test
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.test2
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.formular
{
    padding-top: 30px;
}

.formular2
{
    padding-top: 30px;
    visibility: hidden;
    font-size: 0%;
}

/*Kontakt*/

    /*mapa*/

        .mapa
        {
            width: 100%;
            position: absolute;
            top: 900px;
            right: 0;
        }
    
    .telCisloL
    {
        visibility: hidden;
        font-size: 0;
    }

    .mistoM
    {
        position: absolute;
        right: 0;
        left: 0;
        top: 0px;
    }

    .mistoL
    {
        visibility: hidden;
        font-size: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 0px;
    }


/*cenik*/

    table, th, td 
    {
        border: 1px solid white;

    }

    #other
    {
        top: 310px;
    }
    #center11
    {
        position: relative;
        left: 0;
        top: 0px;
        text-align: center;
    }
    .socialka
    {
        position: relative;
        top: -10px;
    }
    .cenik3
    {
        padding-bottom: 10px;
    }
    .center2
    {
        margin-top: 0;
        position: relative;
        text-align: center;
        width: 85%;
        left: 7%;
    }

    .cena
    {
        position: relative;
        top: 180px;
    }

    #boty
    {
        position: relative;
        top: 330px;
    }

    .platba
    {
        position: relative;
        top: 185px;
    }
    .open2
    {
        width: 100%;
        font-size: 1.3rem;

        text-align: center;
    
    }

    #other2
    {
        display: flex;
        flex-wrap: wrap;
        
    }

    .area5
    {
    
        width: 100%;
    }
    
    .dny2
    {
        width: 20%;
        text-align: right;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .cas2
    {
        width: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    
    }


/*ubytko*/

    .pokoje
    {
        position: relative;
        margin-top: -4%;
    }
    
    .socialka
    {
        margin-top: 6%;
    }
    
    #center01
    {
        position: relative;
        left: 0;
        top: 230px;
        text-align: center;
    }

    .center4
    {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .cislo
    {
        margin-top: 390px;
    }

.test3
{
    width: 50%;
    margin-left: -10px;
}

.test4
{
    width: 50%;
    margin-left: 10px;
}

.cas3
{
    padding-bottom: 50px;
}

.open3
{
    padding-top: 80px;
}
/*bowling*/
#pravidla{
    position: relative;
    top: -280px;
}
#back
{
    position: relative;
    top: -200px;
}

.nazvy
{
    padding-left: 28px;
}




/*mobile layout*/
/*hl. stranka*/
.icon
{
    margin-top: 10px;
}
.icon2
{
    margin-top: 10px;
}
.mobileIMG
{
    visibility: visible;
    font-size: 100%;
    width: 100%;
    height: 630px;
}

.tabletIMG
{
    visibility: hidden;
    font-size: 0%;
    width: 100%;
    height: 635px;
    
}

.podnadpis
{
    visibility: hidden;
    font-size: 0%;
}



/*ostatní stranky*/

.podnadpis2
{
    visibility: hidden;
    font-size: 0%;
}

.nadpis2
{
    position: absolute;
    top: 4%;
    right: 20%;
}

.mobileIMG2
{
    visibility: visible;
    font-size: 100%;
    width: 100%;
    height: 630px;
    
}
.tabletIMG2
{
    visibility: hidden;
    font-size: 0%;
    width: 100%;
    height: 635px;
}

@media screen and (min-width: 768px){

    /*hl.stranka*/

    .podnadpis
    {
        visibility: visible;
        font-size: 100%;
        
    }

    .HomeClose
    {
        visibility: hidden;
        font-size: 0%;
    }
    .toggleMenu
    {
        visibility: hidden;
        font-size: 0%;
    }
    .mobileIMG
    {
        display: none;
    }
    
    .tabletIMG
    {
        visibility: visible;
        font-size: 100%;
    }
    #nadpis
    {
        width: 30%;
        right: 34%;
        text-align: center;
    }


    .bowling, .ubytovani
    {
        width: 25%;
        position: relative;
        bottom: -20px;
    }
    .home
    {
    width: 50%;
    order: -2;
    position: relative;
    bottom: -40px;
    font-size: 2rem;
    }
    .bowling
    {
        order: -3;
    }
   .ubytovani
   {
    order: -1;
   }
   .cenik, .kontakt
   {
    width: 25%;
   }

   .kontakt
   {
    margin-left: 50%;
   }



   .all
   {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
   }


   .drahy
   {
    width: 50%;
    top: 600px;
    margin-bottom: 50px;

   }

   .rezervace
   {
    width: 50%;
    top: 100px;
    right: 0;
   }
   
   .wifi
   {
    width: 50%;
    top: 280px;
   }

   .parkovani
   {
    width: 50%;
    top: 270%;
    right: 0;
   }

   

   /*ostatní stranky*/

   .home2, .kontakt2, .ubytovani2, .bowling2, .cenik2
   {
    width: 20%;
   }
  #nadpis2
  {
    right: 34%;
    top: 15%;
    width: 30%;
  }
  .podnadpis2
  {
    visibility: visible;
    font-size: 100%;
  }
  .mobileIMG2
  {
      display: none;
  }
  
  .tabletIMG2
  {
      visibility: visible;
      font-size: 100%;
  }

 
  .other2
  {
    margin-bottom: 2%;
  }

  .icon2
  {
      margin-top: 2.1%;
  }
  


   /*Kontakty*/

   .mistoM{
    display: none;
   }

   .mistoL{
    visibility: visible;
    font-size: 100%;
   }

   /*Cenik*/

   #other{
    width: 60%;
    left: 20%;
    top: 300px;
   }

   #boty
   {
    margin-left: 5%;
    width: 41%;
   }

   .cena
   {
    margin-left: 5%;
    
   }

   .platba
   {
    top: 265px;
    margin-bottom: 20px;
    left: 9%;
    text-align: center;
   }

   /*cenik*/

   #center1
   {
    padding-left: 25%;
   }
   #center11
   {
    width: 60%;
   }

   .full
   {
    top: 1200px;
    
   }

/*ubytko*/

   .pokoje
   {
    margin-top: 2%;
    margin-bottom: 8%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right:2%;
   }
   .socialka
   {
    top: 0;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 8%;

   }

   #center0
   {
    margin-top: -10%;
    margin-left: 21%;
   }

   #center01
   {
    width: 60%;

   }
   .center4
   {
    width: 90%;
   }

   .cislo
   {
    margin-top: 41%;
    margin-left: 26%;
    width: 50%
   }

   /*bowling*/
   #pravidla
   {
    width: 50%;
    position: relative;
    left: 25%;
   }

   #welcome
   {
    position: relative;
    width: 50%;
    order: -1;
    margin-bottom: auto;
    top: 20%;
   }

   #nazvy
   {
    position: relative;
    top: 5%;
    width: 50%;
    order: -2;
   }

   #kulecnik
   {
    width: 50%;
    position: relative;
    left: 50%;
    top: -20%;
   }
   
   /*foother*/

   .test
   {
    width: 50%;
    margin: 0 0;

   }

   .test2
   {
    width: 50%;
    padding-right: 20px;
   }

   .dny
   {
    width: 40%;
    
   }

   .cas
   {
    width: 60%;
    text-align: right;
   }
   .open
   {
    margin: 0 0;
    width: 90%;
    text-align: right;
    margin-top: -10px;
   }

   .formular
   {
    display: none;
   }

   .formular2
   {
    font-size: 100%;
    visibility: visible;
    padding-left: 5%;
   }
}

@media screen and (min-width:1024px){
    
    /*hl.stranka*/

    .podnadpis
    {
        top: 528px;
    }

    
    .area2
    {
        margin: 0 0;
        padding: 0 0;
        bottom: 0;
        position: relative;
        text-align: center;
    }
    .other
    {
        
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 1rem;
        
    }
    .home
    {
        width: 20%;
        font-size: 1rem;
        margin-top: 2.1%;
        margin-bottom: 2%;
        order: -5;
    }

    .kontakt
    {
        width: 20%;
        order: -1;
        
    }

    .ubytovani
    {
        width: 20%;
        order: -3;
    }

    .cenik
    {
        width: 20%;
        order: -2;
    }

    .bowling
    {
        width: 20%;
        order: -4;
    }

    .icon2
    {
        margin-top: 2.1%;
        padding-bottom: 3%;
    }

 
    .all2
    {
        position: absolute;

    }

    .drahy
    {
        padding: 15px ;
        top: 5px;
    }


    .rezervace
    {
        top: 90px;
        right: 0;
    }

    .wifi
    {
        top: 230px;
    }

    .parkovani
    {
        top: 330px
    }

    /*cenik*/

    #center1
    {
        left: 25%;
    }

    .cena
    {
        top: 0;
    }

    .platba
    {
        top: 150%;
        left: 5%;
    }
    #other
    {
        top: 310px;
        width: 40%;
        left: 5%;
    }

    #boty
    {
        top: 200px;
        left: 23%;
    }

    .full3
    {
        top: 140%;
    }

    /*ubytko*/

    .socialka
    {   
        right: 0%;
        padding-bottom: 2%;
        margin-right: 2%;
    }

    .pokoje
    {
        margin-left: 2%;
        top: 8px;
    }
    .cislo
    {
        top: -80px;
        width: 30%;
        left: 10%;
    }

    #center0
    {
        top: 95%;
        
    }
    /*foother*/

    .test
    {
     width: 50%;
     margin: 0 0;
     font-size: 1rem;
    }
 
    .test2
    {
     width: 50%;
     padding-right: 20px;
     font-size: 1rem;
 
    }
 
    .dny
    {
     width: 40%;
     
    }

    .cas
    {
     width: 60%;
     text-align: right;
    }

    .formular2
    {
        font-size: 1rem;
        padding-left: 15%;
    }

    /*bowling*/
    

    #welcome
    {
        position: relative;
        width: 40%;
        left: 8%;
    }
    #nazvy
    {
        position: relative;
        left: 2%;
        top: 10%;
        width: 50%;
    }
    #kulecnik
    {
        width: 40%;
        left: 58%;
    }

    .full2
    {
        top: 160%;
    }
}

@media screen and (min-width:1440px){
    
    .podnadpis
    {
        top: 498px;
    }
    .home, .kontakt, .cenik, .bowling, .ubytovani
    {
        font-size: 1.3rem;
    }
    .icon2
    {
        margin-top: 3%;
    }
    .text
    {
        font-size: 1rem;
    }
    .text2
    {
        font-size: 1rem;
    }
    #nadpis
    {
        font-size: 2rem;
    }

    #nadpis2
    {
        top: 11%;
    }

    /*ubytko*/

    #center0
    {
        width: 70%;
        left: 8%;
        top: 700px;
    }
    .cislo
    {
        top: -230px;
    }

    /*cenik*/
    #other
    {
        top: 25%;
    }

    #center1
    {
        left: 28%;
    }
    .cena
    {
        width: 25%;
        left: -4%;
    }

    .platba
    {
        left: 27%;
        top: 10%;
        width: 25%;
    }
    
    #boty
    {
        left: 2%;
        top: 93px;
    }

    .full3
    {
        top: 120%;
    }

    /*bowling*/
    #nazvy
    {
        top: 13%;
    }

    .full2
    {
        top: 135%;
    }
}

@media screen and (min-width: 2560px){
    /*hl. stranka*/

    .tabletIMG, .tabletIMG2
    {
        height: 1000px;
    }

    .text
    {
        font-size: 1.5rem;
    }
    .text2
    {
        font-size: 1.5rem;
    }
    .text3
    {
        font-size: 1.5rem;
    }
    .podnadpis
    {
        top: 45%;
    }
    #nadpis
    {
        top: 1%;
        margin-bottom: 3.2%;
        width: 15%;
        left: 45%;
    }

    .all
    {
        top: 57%;
    }

    /*ostani*/

     #nadpis2
    {
        top: 6.5%;
        width: 15%;
        left: 45%;
        font-size: 2rem;
    }
    /*cenik*/

    #other
    {
        top: 9%;
        left: 1%;
    }

    /*ubytko*/

    #center0
    {
        width: 70%;
        top: 50%;
        margin-left: 30%;
    }
    .cislo
    {
        top: -880px;
    }

    #center0
    {
        top: 58%;
        left: 0;
    }

    /*FOOTHER*/
    .full
    {
        top: 80%;
    }
    .full2
    {
        top: 90%;
    }
}